@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
html {
  min-height: 100vh;
}
body {
  background-color: #343a46;
  background-image: url("../assets/paisaje.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}

h1,
.fecha-text {
  /* color: #149eac; */
  /* color: #28292a; */
  color: #f6f7f9;
}

.btn-delete {
  cursor: pointer;
}

.form-control,
.form-control:focus {
  border: 0 !important;
  background-color: #191a1e91;
  color: #f6f7f9;
  box-shadow: none;
  font-size: 20px;
}

.card {
  background-color: #2e3039f8;
  color: #f6f7f9;
}
